# Build artifacts
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# IDE folders
.vs/
.vscode/
.idea/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# NuGet
*.nupkg
packages/

# Test output
TestResults/
*.trx

# JetBrains Rider
_ReSharper*/
*.DotSettings.user
